.sheet-wfrp-wrapper {

    .sheet-page__encounter,
    .sheet-page__main,
    .sheet-page__advances,
    .sheet-page__combat,
    .sheet-page__magic,
    .sheet-page__settings {
        display: none;

        &--flex,
        &--grid {
            display: none;
        }
    }

}

input[type="hidden"][name="attr_nav"] {

    &[value="encounter"] ~ * .sheet-page__encounter,
    &[value="main"] ~ * .sheet-page__main,
    &[value="advances"] ~ * .sheet-page__advances,
    &[value="combat"] ~ * .sheet-page__combat,
    &[value="magic"] ~ * .sheet-page__magic,
    &[value="settings"] ~ * .sheet-page__settings {
        display: block;

        &--flex {
            display: flex;
        }

        &--grid {
            display: grid;
        }
    }

    &[value="encounter"] ~ * .sheet-wfrp-header {
        display: none;
    }
}

.sheet-wfrp-wrapper {

    .sheet-wfrp-pc,
    .sheet-wfrp-npc {
        display: none;

        &--flex,
        &--grid {
            display: none;
        }
    }

}

input[type="hidden"][name="attr_npc"] {

    &[value="on"] ~ * .sheet-wfrp-npc,
    &[value="0"] ~ * .sheet-wfrp-pc {
        display: grid;
    }

}

.sheet-wfrp-weapontable__row {
    input[type="hidden"][value="0"] + span {
        display: none;
    }
}

input[name="attr_active_defence"][type="hidden"] + div {
    display: none;
}
input[name="attr_active_defence"][type="hidden"][value="1"] + div.sheet-active-defence,
input[name="attr_active_defence"][type="hidden"][value="0"] + div.sheet-passive-defence
{
    display: inherit;
}

input[name="attr_show_description"][type="hidden"] + textarea[name="attr_weapon_description"],
input[name="attr_show_description"][type="hidden"] + textarea[name="attr_spell_description"]
{
    display: none;
}
input[name="attr_show_description"][type="hidden"][value="1"] + textarea[name="attr_weapon_description"],
input[name="attr_show_description"][type="hidden"][value="1"] + textarea[name="attr_spell_description"]
{
    display: inherit;
}

input[name="attr_is_combat"][type="hidden"] + div[class="sheet-wfrp-talenttable__row"] {
    display: none;
}
input[name="attr_is_combat"][type="hidden"][value="1"] + div[class="sheet-wfrp-talenttable__row"] {
    display: grid;
}

input[name="attr_show_melee_modifiers_settings"][type="hidden"] + div.sheet-modifiers-settings,
input[name="attr_show_parry_modifiers_settings"][type="hidden"] + div.sheet-modifiers-settings,
input[name="attr_show_dodge_modifiers_settings"][type="hidden"] + div.sheet-modifiers-settings,
input[name="attr_show_ranged_modifiers_settings"][type="hidden"] + div.sheet-modifiers-settings,
input[name*="attr_cm"][type="hidden"] + span
{
    display: none;
}
input[name="attr_show_melee_modifiers_settings"][type="hidden"][value="1"] + div.sheet-modifiers-settings,
input[name="attr_show_parry_modifiers_settings"][type="hidden"][value="1"] + div.sheet-modifiers-settings,
input[name="attr_show_dodge_modifiers_settings"][type="hidden"][value="1"] + div.sheet-modifiers-settings,
input[name="attr_show_ranged_modifiers_settings"][type="hidden"][value="1"] + div.sheet-modifiers-settings,
input[name*="attr_cm"][type="hidden"][value="1"] + span{
    display: inherit;
}

input[name="attr_spell_type"][type="hidden"][value="Spell"] ~ input[name="attr_spell_lore"],
input[name="attr_spell_type"][type="hidden"][value="Prayer"] ~ select[name="attr_spell_lore"],
input[name="attr_spell_type"][type="hidden"][value="Prayer"] ~ div[class*="sheet-encounter-channelling"],
input[name="attr_spell_lore"][type="hidden"] ~ button[type="roll"]
{
    display: none;
}

input[name="attr_spell_type"][type="hidden"][value="Prayer"] ~ input[name="attr_spell_lore"],
input[name="attr_spell_type"][type="hidden"][value="Spell"] ~ select[name="attr_spell_lore"],
input[name="attr_spell_type"][type="hidden"][value="Spell"] ~ div[class*="sheet-encounter-channelling"]
{
    display: inherit;
}
@each $lore in $channelling {
    input[name="attr_spell_lore"][type="hidden"][value="#{$lore}"] ~ button[type="roll"][name="sheet-#{$lore}"] {
        display: inherit;
    }
}

input[name="attr_main_hand_weapon_id"][type="hidden"] + div[class*="sheet-wfrp-panel"],
input[name="attr_off_hand_weapon_id"][type="hidden"] + div[class*="sheet-wfrp-panel"] {
    display: none;
}
input[name="attr_main_hand_weapon_id"][type="hidden"][value*="-"] + div[class*="sheet-wfrp-panel"],
input[name="attr_off_hand_weapon_id"][type="hidden"][value*="-"] + div[class*="sheet-wfrp-panel"] {
    display: inherit;
}

input[name="attr_show_mod_help"][type="hidden"] + div[class*="sheet-mod-help"] {
    display: none
}
input[name="attr_show_mod_help"][type="hidden"][value="1"] + div[class*="sheet-mod-help"] {
    display: inherit
}



